<aside class="p-4 col-span-1 bg-gray-500">
  <h3 class="text-xl">Table of Contents</h3>
  <ul class="list-disc list-inside">
    {% for chapter in site.chapters %}
      <li><a href="{{ chapter.url | prepend: site.baseurl }}">{{chapter.title}}</a></li>
    {% endfor %}
  </ul>

  <h3 class="text-xl">Contributors</h3>
  <ul class="list-disc list-inside">
    {% for contributor in site.contributors %}
      <li><a href="{{ contributor.url | prepend: site.baseurl }}">{{contributor.name}}</a></li>
    {% endfor %}
  </ul>

</aside>

