---
layout: default

---

<main class="w-screen p-4">
  
{{ content }}
</main>  

<!DOCTYPE html>

<html lang="en-us">

    <style>
        body{
            background-image: url(https://lh3.googleusercontent.com/4oa4OtodJux7GQM4PPSSVMf6YHn_pYtEjrVg9Hos871OceXp1zxzlq8cM7OPYLuhGgkWmualrNQPrQ_NedwnsQ15aepIPuINPUO1c81nm4ezNeK_PaUIC8bqaN_IUAgeBEi1yVcD3g=w2560-h1440);
            background-repeat: no-repeat; 
            background-size: cover;
            background-attachment: fixed;

        }

    </style>

</html>